<div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
  <div style="border: 2px solid #008080; padding: 40px; border-radius: 10px; background-color: #f7f7f7; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); max-width: 400px;">
      <div style="margin-bottom: 20px;">
          <i class="fas fa-exclamation-triangle" style="font-size: 48px; color: #ff9800;"></i>
      </div>
      <h1 style="color: #008080; font-size: 24px; font-weight: bold;">⚠️ ليس لديك الصلاحية للوصول لهذه الصفحة</h1>
      <p style="font-size: 18px; color: #555;">الرجاء العودة إلى <a href="/" style="color: #008080; text-decoration: none; font-weight: bold;">الصفحة الرئيسيه </a> أو تسجيل الدخول بحساب آخر.</p>
  </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
